body {
    margin: 0;
    background-color: black;
  }
  
  :root {
    --gray-dark: #5b5b5b;
    --gray: #969696;
    --off-white: #f4f4f4;
    --bg: #fff;
    --primary: goldenrod;
    --secondary: orange;
  }
  
  /* Styles for .filler */
  .filler {
    /* height: 20rem; */
    text-align: left;
    width: 100%;
    color: black;
    background-color: white;
  }

  .filler img {
    width: 100%;
    object-fit: cover;
  }
  
  section {
    display: flex;
    flex-direction: column;
  }

  figure.sticky {
    position: sticky;
    width: 100vw;
    /* height: 100vh; */
    background: rgba(187, 40, 40, 0);
    margin: 0;
    top: 0;
    left: 0;
    z-index: 5;
  }

  figure.fixed {
    position: sticky;
    width: 100vw;
    height: 100vh;
    background: rgba(187, 40, 40, 0);
    margin: 0;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  #mainfig {
    position: sticky;
    /* top: 5%; */
    /* left: 5%; */
    /* transform: translateY(-10%); */
    width: 60vw;
    height: 30vh;
    z-index: -1;
  }
  
  #scrolly-side .scrolly figure.sticky .bar-inner {
    width: 10%;
    height: 100%;
    transition: width 1s ease-in-out;
    background-color: var(--primary);
  }

  #route {
    position: sticky;
    width: 100%;
    z-index: 10;
    background-color: white;
    border-bottom: 2px solid gray;
  }

  #scrolly-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: transparent;
  }

  #scrolly-overlay .scrolly {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    /* margin: 3rem auto;
    background-color: #f4f4f4;
    padding: 1rem */
}

#scrolly-overlay .scrolly article {
    padding: 0;
    width: 100%;
    /* max-width: 30rem; */
    margin: 0 auto;
    position: relative;
}

#scrolly-overlay .scrolly article .step {
    height: 120vh;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1rem;
}

#scrolly-overlay .scrolly article .step:last-of-type {
    margin-bottom: 0
}

#scrolly-overlay .scrolly article .step.is-active p {
  /* background-color: #5f4e319d; */
  border: 2px solid #dbc09aDF;
}

#scrolly-overlay .scrolly article .step p {
    margin: 0;
    padding: 1rem;
    text-align: left;
    font-weight: 400;
    background-color: #3e3e3e90;
    /* width: 50%; */
    -webkit-transition: background-color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
    color: #f4f4f4;
    font-size: 24px;
    border: 1px solid rgb(33, 33, 33);
}

#scrolly-overlay .scrolly figure.sticky {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    /* background: #969696; */
    margin: 0;
    /* top: 25vh;
    height: 50vh; */
    left: 0;
    top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

#scrolly-overlay .scrolly figure.sticky .mainfig {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    /* background: #969696; */
    margin: 0;
    /* top: 25vh; */
    /* height: 100%; */
    left: 0;
}
